# nanabozo .gitignore

README.rst.gz
nanabozo
nanabozo.1.gz
nanabozo-*.tar.xz

/examples/*.c
/examples/*.cgi
/examples/*.cpp

# sub directories
bld*
build*
tmp*

# vi
*.swp
*.vim

# ultra-edit
*.prj
*.pui

# backups
*~
*.bak
*.orig

