# nanabozo .gitignore

README.rst.gz
nanabozo
nanabozo.1.gz
nanabozo-*.tar.xz

/debian/*
!/debian/changelog
!/debian/compat
!/debian/control
!/debian/copyright
!/debian/dirs
!/debian/rules

/examples/*.c
/examples/*.cgi
/examples/*.cpp

# sub directories
bld*
build*
tmp*

# vi
*.swp
*.vim

# ultra-edit
*.prj
*.pui

# backups
*~
*.bak
*.orig

