Source: nanabozo
Section: devel
Priority: optional
Maintainer: Stanislas Marquis <stan@astrorigin.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Homepage: https://astrorigin.com/nanabozo
Vcs-Git: https://github.com/astrorigin/nanabozo.git
Vcs-Browser: https://github.com/astrorigin/nanabozo

Package: nanabozo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Tool for CHTML script-coding
 nanabozo is a command-line application that translates CHTML scripts into
 C/C++ code. In other terms, it lets you mix HTML (or equivalent) with C/C++,
 like you would with PHP.
